html, body {
 margin: 0;
 padding: 0;
 }

body {
  width: 100%;
 background-color: white;
 font-family: sans-serif;
 font-size: 100%;
 }

 .app{
   width:1334px;
   height:750px;
   margin:0 auto 0 auto;
   border: solid black 5px;
 }
 .menu{
   width:100%;
   float:left;
   clear: right;
 }
 ul {
  padding:0;
  margin:0;
  list-style-type:none;
  }
 li {
  margin-left:2px;
  }
 .arrow_box:hover {
  background-color:dodgerblue;
  }
  .arrow_box:hover:after{
      background-color:none;
      border-left-color: dodgerblue;
  }
  .arrow_box {
    display:block;
    float:left;
  	position: relative;
    width:100px;
    color:black;
    text-decoration:none;
    text-align:center;
    background-color:deepskyblue;
    padding:10px;
    margin-left: 16px;
  	border: 4px solid black;
  }

  .arrow_box:after, .arrow_box:before {
  	left: 100%;
  	top: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  .arrow_box:after {
  	border-color: rgba(136, 183, 213, 0);
  	border-left-color: deepskyblue;
  	border-width: 17px;
  	margin-top: -17px;
  }
  .arrow_box:before {
  	border-color: rgba(194, 225, 245, 0);
  	border-left-color: black;
  	border-width: 22px;
  	margin-top: -22px;
      margin-left:4px;
  }
  #first{
    margin-left:0;
  }

  .content{
    margin-top:46px;
    padding-top:3px;
    border-top: solid 5px dodgerblue;
    display:flex;
    flex-wrap: wrap;
  }
  .element{
      margin:0 auto 0 auto;
      width: 300px;
      height:300px;
      border:1px solid grey;
      margin-top:200px;
      text-align: center;
      color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
.element:hover{
  border-color:dodgerblue;
  color:dodgerblue;
}
  #pizza{
    background: url('pizza.jpg');
  }
  #burger{
    background: url('burger.png');
  }
